<form method="POST" action="/artists">

<div>
<label>Artist name</label>
</div>

<div>
<label>Artist genre</label>
<input type="text" name="genre" />
</div>

<input type="submit" />
<form>

<br />
<br />
<a href="/artists">Go back to artists list</a>